* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .leaderboard {
    max-width: 35rem;
    margin: 5rem auto;
    border-radius: 1rem;
    box-shadow: 2px 2px 16px 1px #aaa;
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  header {
    background-color: #ff7500;
    color: white;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 14rem;
    position: relative;
  }
  
  h1 {
    font-size: 3rem;
    line-height: 3rem;
    position: absolute;
    margin-left: 2rem;
    top: 4rem;
  }
  
  img {
    height: 16rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  table {
    background-color: #16181e;
    color: #999;
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
  }
  
  thead {
    font-size: 0.7rem;
    color: #555;
    text-transform: uppercase;
  }
  
  tbody {
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  th {
    color: forestgreen;
    padding: 1rem 1rem;
    text-align: left
  }
  
  td {
    padding: 1rem 1rem;
  }
  
  